.hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero.jpg");
    background-size: cover;
    background-color: #c4c4c4;
    padding-top: 200px;
    padding-bottom: 200px;
    width: 1600px;
    margin: auto;
  }
  
  .main-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
    margin: 0 auto 30px auto;
    width: 696px;
  }
  
  
  
  /* Advantages */
  
  .advantages-list {
    display: flex;
  }
  
  .advantages-list-elements:not(:last-child) {
    margin-right: 30px;
  }
  
  .advantages-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 120px;
    background-color: #f5f4fa;
  }
  
  .advantages {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-text-color);
    margin-bottom: 10px;
    margin-top: 30px;
  }
  
  .advantages-description {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secodary-text-color);
    width: 270px;
  }
  
  /* About us */
  
  .section-about-us {
    padding-bottom: 94px;
  }
  
  .about-us {
    display: flex;
  }
  
  .about-us-list:not(:last-child) {
    margin-right: 30px;
  }
  
  .about-us-list {
    flex-basis: calc((100% - 60px) / 3);
  }
  
  .tumb {
    position: relative;
  }
  
  .label {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--btn-text-light);
    width: 370px;
    height: 70px;
    padding: 27px;
    background: rgba(47, 48, 58, 0.8);
  }
  
  .tumb > .label {
    position: absolute;
    bottom: 0;
  }
  