.backgrope {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.1);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }
  
  .backgrope.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    background-color: #ffffff;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
      opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 40px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }
  
  .backgrope.is-hidden .modal {
    transform: scale(0.1);
    opacity: 0;
  }
  
  .modal-close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: #ffffff;
    padding: 0;
    cursor: pointer;
    /* transform: fill 250ms line; */
  }
  
  .modal-close-btn:focus .modal-close-icon,
  .modal-close-btn:hover .modal-close-icon {
    fill: var(--accent-color);
  }
  
  .modal-title {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    display: block;
    margin-bottom: 12px;
  }
  
  .contact-form-field {
    display: block;
  }
  
  .contact-form-field:not(:last-of-type) {
    margin-bottom: 10px;
  }
  
  .cell-name {
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: #757575;
    margin-bottom: 4px;
  }
  
  .contact-form-input {
    padding-left: 42px;
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .contact-form-input:focus,
  .contact-form-input:hover {
    outline: none;
    border-color: var(--accent-color);
    cursor: pointer;
  }
  
  .contact-form-input-wrapper {
    position: relative;
    display: block;
  }
  
  .contact-form-input-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    fill: var(--main-text-color);
    transition: fill 250ms line;
  }
  
  .contact-form-input:focus + .contact-form-input-icon,
  .contact-form-input:hover + .contact-form-input-icon {
    fill: var(--accent-color);
  }
  
  .contact-form-message {
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color 250ms line;
    margin-bottom: 20px;
  }
  
  .contact-form-message:focus,
  .contact-form-message:hover {
    outline: none;
    border-color: var(--accent-color);
  }
  
  .contact-form-message::placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
  
  .contact-form-ceckbox-wrapper {
    margin: auto;
  }
  
  .contact-form-checkbox-label {
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
    margin-bottom: 30px;
  }
  
  .icon-check-wrapper {
    position: relative;
    display: block;
    width: 16px;
    height: 15px;
    border: 1px solid var(--main-text-color);
    border-radius: 3px;
    margin-right: 10px;
    transform: background 250ms line;
  }
  
  .icon-check {
    position: absolute;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    left: 2px;
    fill: var(--btn-text-light);
  }
  
  .contact-form-checkbox:focus
    + .contact-form-checkbox-label
    > .icon-check-wrapper {
    border-color: var(--accent-color);
  }
  
  .contact-form-checkbox:checked
    + .contact-form-checkbox-label
    > .icon-check-wrapper {
    background: var(--accent-color);
    border: none;
  }
  
  .conditions {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration-line: underline;
    color: var(--accent-color);
  }
  
  .contact-form-submit-btn {
    padding: 10px 32px;
    margin: 0 auto;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
    color: var(--btn-text-light);
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .contact-form-submit-btn:hover,
  .contact-form-submit-btn:focus {
    background: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  }