h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
}

.lists,
.social-list-item,
.clients-list,
.footer-social-list-item {
  list-style: none;
}

.links,
.contacts-email-footer,
.contacts-namber-footer,
.portfolio-link,
.social-list-link {
  text-decoration: none;
  font-style: normal;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
  }